p{margin:0 0 10px}
.hidden{display:none!important}
#loader,.loadcloak{position:absolute;top:0;left:0;width:100%;height:100%;z-index:500003!important;background-color:#fff;opacity:1}
#loader{opacity:.8!important}
#loader:before,.loadcloak:before{content:"";position:absolute;left:50%;top:50%;margin:-75px 0 0 -75px;border:16px solid #f0f0f0;border-radius:50%;border-top:16px solid #2e6da4;width:120px;height:120px;z-index:500004!important;opacity:1!important;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.pagination{margin:25px 0 25px}
.pagination{display:inline-block;padding-left:0;border-radius:0}
.pagination>li{display:inline}
.pagination>li>a,
.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#337ab7;background-color:#fff;border:1px solid #ddd;margin-left:-1px}
.pagination>li:first-child>a,
.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:0;border-top-left-radius:0}
.pagination>li:last-child>a,
.pagination>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{z-index:3;color:#fff;background-color:#337ab7;border-color:#337ab7;cursor:default}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}
.pagination-lg>li>a,
.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}
.pagination-sm>li>a,
.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}
.typeahead.dropdown-menu{max-height:50vh; overflow:auto;}
.text-center {text-align: center !important;}

/* https://github.com/visualapps/jnoty/blob/master/jnoty.css */

.jnoty {
    z-index: 9999;
    font-size: 14px;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.jnoty-info .jnoty-content .jnoty-header {
    color: #00B8D9;
}

.jnoty-success .jnoty-content .jnoty-header {
    color: #36B37E;
}

.jnoty-warning .jnoty-content .jnoty-header {
    color: #FFAB00;
}

.jnoty-danger .jnoty-content .jnoty-header {
    color: #FF5230;
}

.jnoty-icon {
    margin-right: 5px;
}

.jnoty-content {
    padding: 10px 20px;
}

.jnoty-message {
    margin-left: 17px;
    /* align the message to header*/
    margin-top: 5px;
}

.jnoty.top-left {
    left: 0px;
    top: 0px;
}

.jnoty.top-right {
    right: 0px;
    top: 0px;
}

.jnoty.bottom-left {
    left: 0px;
    bottom: 0px;
}

.jnoty.bottom-right {
    right: 0px;
    bottom: 0px;
}

.jnoty.center {
    top: 0px;
    width: 50%;
    left: 25%;
}

.jnoty.center .jnoty-container,
.jnoty.center .jnoty-closer {
    margin-left: auto;
    margin-right: auto;
}

.jnoty-container {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    zoom: 1;
    width: 350px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: none;
    border: 1px solid #F4F5F7;
    box-shadow: 0px 0px 9px 0px #D3D0D0;
    border-radius: 5px;
    min-height: 40px;
}

.jnoty-container .ui-state-highlight,
.jnoty-container .ui-widget-content .ui-state-highlight,
.jnoty-container .ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
    background: #fff;
    color: #555;
}

.jnoty-header {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
}

.jnoty-container .jnoty-close {
    background-color: transparent;
    color: inherit;
    border: none;
    z-index: 99;
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.jnoty-closer {
    background-color: #fff;
    opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
    zoom: 1;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: none;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}

.jnoty-closer .ui-state-highlight,
.jnoty-closer .ui-widget-content .ui-state-highlight,
.jnoty-closer .ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}


/** Hide jGrowl when printing **/

@media print {
    .jnoty {
        display: none;
    }
}
